<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature" data-view="Number" data-title="Temperature" data-suffix="&#x2103;">
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity" data-view="Meter" data-title="Humidity" data-min="0" data-max="100" data-suffix="%">
    </li>
  </ul>
</div>
